:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-color-primary-brown: #4e4b4bff;
  --dl-color-primary-green: #62706bff;
  --dl-color-primary-white: #f6f5f5ff;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 60px;
  --dl-space-space-threeunits: 48px;
  --dl-color-primary-lightgreen: #c0c6c4ff;
  --dl-space-space-oneandhalfunits: 24px;
  --dl-space-space-negativefourunits: -60;
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}

.Body {
  font-size: 1em;
  font-family: "Poppins";
  font-weight: 200;
  line-height: 1.5em;
  text-transform: none;
  text-decoration: none;
}
.Navigation {
  font-size: 0.875em;
  font-family: "Poppins";
  font-weight: 200;
  line-height: auto;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}
.Caption {
  font-size: 0.85em;
  font-family: "Poppins";
  font-weight: 200;
  line-height: 1.5em;
  text-transform: none;
  text-decoration: none;
}
.H4 {
  font-size: 1.125em;
  font-family: "Poppins";
  font-weight: 200;
  line-height: 1.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}
.H2 {
  font-size: 2.5em;
  font-family: "Poppins";
  font-weight: 400;
  text-decoration: none;
}
.Footer {
  font-size: 4em;
  font-family: "Fino";
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.H3 {
  font-size: 1.5em;
  font-family: "Poppins";
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}
.Title {
  font-size: 1.75em;
  font-family: "Fino";
  font-weight: 400;
  line-height: auto;
  text-decoration: none;
}
.Content {
  font-size: 1em;
  font-family: "Poppins";
  font-weight: 300;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.H1 {
  font-size: 3em;
  font-family: "Fino";
  font-weight: 400;
  text-decoration: none;
}
